In [1]:
import numpy as np
import pandas as pd
print(np.__version__)

1.21.6

In [2]:
data = pd.read_csv("C:/Users/Godwin/Documents/Workflow/ML Zoomcamp/Dataset/Car Features/data.csv")
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [3]:
rows, columns = data.shape
print('The number of rows in the data is ', rows)

The number of rows in the data is  11914

In [4]:
counts = data['Make'].value_counts()
print(counts)

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
McLaren             5
Alfa Romeo          5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

In [5]:
print('The number of Audi Model is ', data[data['Make'] == 'Audi']['Model'].nunique())

The number of Audi Model is  34

In [6]:
data.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [7]:
median = data['Engine Cylinders'].median()
print('Before filling Mising Values ', median)
mode = data['Engine Cylinders'].mode()[0]
data['Engine Cylinders'].fillna(mode, inplace = True)
median = data['Engine Cylinders'].median()
print('After Filling the Missing Values' , median)

Before filling Mising Values  6.0
After Filling the Missing Values 6.0

In [8]:
lotus_data = data[data['Make'] == 'Lotus'][['Engine HP',	'Engine Cylinders']]
X = lotus_data.drop_duplicates()
X = np.array(X)

In [9]:
XTX = np.dot( X.T, X)
inverse = np.linalg.inv(XTX)

In [10]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [11]:
w = np.dot(inverse, X.T) * y

In [12]:
print('The first value of w is ', w[0, 0])

The first value of w is  -1.4514510559958258